.pos-relative {
    position: relative;
}

.flex-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.disabled {
    display: none;
}
.inactive-btn {
    opacity: .4;
}

.blue {
    background: #30a6f1 !important;
}

.no-transition { -webkit-transition: none !important; -o-transition: none !important; transition: none !important; }

.svg__left-arrow, .svg__right-arrow {
    width: 10px;
    height: 10px;
    fill: RGB(46, 166, 241);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.svg__right-arrow {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.btn {
    padding: 0 1.5rem 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50px;
    background: #30a6f1;
    color: white;
}

.session-time {
    font-size: 0.95rem;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}
.session-price {
    font-size: .75rem;
    font-weight: 100;
    font-family: Roboto, sans-serif;
    opacity: .7;
}

.rub:after{ content:' ₽'; }