/* PLACES */
.popup, .popup-cities {
    background: rgba(0,28,45,.99);
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed!important;
    top: 0px;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: auto;
    z-index: 100;
}
.popup-cities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.popup-tickets__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    position: relative;
    max-width: 935px;
    background-color: #fff;
    margin: 25px;
    padding: 50px 60px 25px 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.popup__header{
    color: #000;
}
.popup__header-title{
    width: 100%;
    font-size: 1.5rem;
}
.popup__header-subtitle{
    margin: 15px 0 20px;
}
.popup__town-toggler .popup__town {
    font-family: Roboto,sans-serif;
    margin-right: 0px;
    font-size: 1.1rem;
    white-space: nowrap;
    text-align: left;
    color: rgba(4, 18, 26, 0.74);
}
.popup__town-toggler svg {
    margin-right: 10px;
}
.popup__header-subtitle span {
    margin: 0 15px 2px 0;
    color: rgba(0,28,45,.5);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1;
}
.popup__town-toggler .svg__down-arrow {
    margin: 0 10px 0 0;
}
.popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50px;
    right: 60px;
    cursor: pointer;
}
.popup__scheme{
    position: relative;
    background: #232934;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
}
.popup__scheme-inner{
    display: inline-block;
    width: calc(100% + 17px);
    height: calc(100% + 17px);
    margin: 0 -17px -17px 0;
    overflow: scroll;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: rgba(0,28,45,.85);
}
.scheme{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-height: 423px;
}
.scheme .place {
    position: absolute;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: 0 5px 5px 0;
    border-radius: 9px;
    background: #30a6f1 center center no-repeat;
    background-size: cover;
    font-size: 0.7rem;
    line-height: 1;
    color: #fff;
}
.scheme__header {
    position: absolute;
    padding: 25px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgba(0,28,45,.85);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}
.scheme-ticket {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
}
.scheme-ticket:nth-child(3) {
    margin-right: 0px;
}
.scheme-ticket .scheme-ticket__place {
    position: relative;
    margin: 0 15px 0 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: default;
}
.scheme__body {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 90px 20px 50px 25px;
    -webkit-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: fade-in .25s ease-out .2s both;
    animation: fade-in .25s ease-out .2s both;
    will-change: opacity,transform;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.scheme__body:before {
    content: '';
    display: block;
    width: calc(100% - 100px);
    height: 6px;
    margin: 0 auto 70px;
    background: #e6ecf2;
    -webkit-box-shadow: 0 8px 15px rgba(230,236,242,.7);
    box-shadow: 0 8px 15px rgba(230,236,242,.7);
}
.scheme__body > div {
    position: relative;
}
.scheme-menu {
    width: 100%;
    height: 370px;
    font-family: 'Roboto', sans-serif;
}
.scheme__controls{
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.scheme__controls .controls .control {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,28,45,.5);
    box-shadow: 0 5px 10px rgba(0,28,45,.5);
    fill: #30a6f1;
    margin: 0 0 10px;
}
.popup-content .tickets{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 25px 0 0;
    font-family: Roboto, sans-serif;
}
.popup-content .tickets__result {
    cursor: pointer;
    font-size: 1.0rem;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: RGBA(0,0,0, .7);
}
.popup-content .tickets__btn {
    border: 2px solid #e41a69;
    background: #e41a69;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.0rem;
    text-align: center;
    color: #fff;
    padding: 16px 23px 14px;
    margin: 0 0 0 75px;
    border-radius: 50px;
}
.place-row {
    position: absolute;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 30px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    color: rgba(255,255,255,.4);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.scheme-menu .place{
    transition: 0.1s ease background-color;
}
.scheme-menu .place:hover:before {
    -webkit-transform: scale(1.16);
    -ms-transform: scale(1.16);
    transform: scale(1.16);
    -webkit-box-shadow: 0 0 10px rgba(48,166,241,.8);
    box-shadow: 0 0 10px rgba(48,166,241,.8)
}
.scheme .place--preselected:hover:before, .scheme .place--active:hover:before {
    -webkit-box-shadow: 0 0 10px rgba(228,26,105,.8);
    box-shadow: 0 0 10px rgba(228,26,105,.8);
}
.scheme .place--active, .scheme .place--active:before {
    background: #e41a69 !important;
}
.scheme .place--preselected, .scheme .place--preselected:before {
    background: #e41a69 !important;
    color: transparent;
}
.scheme-menu .place--preselected:after{
    content: '';
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    width: 14px;
    height: 14px;
    margin: -7px 0 0 -7px;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
}
.scheme .place[data-price='1']{
    background-color: #144dd1;
}
.scheme .place[data-price='1']:before {
    background-color: #144dd1
}
.scheme .place[data-sold=true]{
    cursor: default;
    background-color: #173141;
    color: rgba(230,236,242,.4);
}
.scheme .place[data-sold=true]:before {
    content: none
}
.popover{
    display: none;
    position: absolute;
    bottom: 100%;
    background: #fff;
    border-radius: 10px;
    width: 100px;
    padding: 12px 0;
    margin-bottom: 10px;
    color: #4a4a4a;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}
.scheme-menu .place:hover .popover{
    display: block;
}
.popover:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    margin-left: -7px;
}
.popover span{
    display: block;
}
.popover .big{
    margin: 0 0 2px;
    font-weight: 700;
    font-size: 1.1rem;
}

/* popup-cities */
.popup-cities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 101;
}
.popup-cities__top-content {
    padding-top: 150px;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 1265px;
}
.popup-cities__close-svg {
    width: 18px;
    height: 18px;
    fill: white;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.popup-cities__bottom-content {
    padding: 0 0 66px;
    width: 1265px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.popup-cities__cities {
    margin-right: 30px;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 165px;
}
.popup-cities__wrapper {
    position: absolute;
    top: 0;
}
.popup-cities__city {
    margin-right: 30px;
    display: inline-block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    width: 155px;
    height: 46px;
}
.popup-cities__city.active {
    color: #fff;
    background: #30a6f1 0 0 no-repeat padding-box;
    -webkit-box-shadow: 0 0 6px #30a6f1;
    box-shadow: 0 0 6px #30a6f1;
    border-radius: 5px;
    font-weight: 700;
}
.popup-cities__addresses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.popup-cities__address {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 325px;
    height: 276px;
    border: 2px solid #fff;
    border-radius: 8px;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out;
    margin-left: 30px;
    margin-bottom: 30px;
}
.popup-cities__address:hover {
    border-color: #30a6f1;
    background-color: #30a6f1;
    color: #fff;
}
.popup-cities__address > svg {
    margin-bottom: 50px;
    width: 180px;
    height: 50px;
}
.popup-cities .tabs__body{
    width: 100%;
}
.popup-cities .tabs__content{
    display: none;
}
.popup-cities .tabs__content--active{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1320px) {
    .popup-cities__top-content {
        width: 992px;
    }
    .popup-cities__bottom-content {
        width: 992px;
    }
}

@media screen and (max-width: 992px) {
    .popup-cities__bottom-content {
        width: 768px;
    }
    .popup-cities__top-content {
        width: 768px;
    }
}
@media screen and (max-width: 768px) {
    .popup-cities__bottom-content {
        width: 100%;
    }
    .popup-cities .tabs__content--active {
        flex-direction: column;
    }
    .popup-cities__top-content {
        width: 100%;
    }
    .popup-cities__address {
        width: 200px;
        height: 200px;
    }
    .popup-cities__address > svg {
        display: none;
    }
    .popup-cities__cities {
        margin-right: 0;
        margin-left: 0;
    }
    .flex-wrapper {
        flex-wrap: wrap;
    }
    .film__sessions-info {
        margin-bottom: 10px;
    }
    .scheme-ticket {
        margin-right: 10px;
    }
}
@media screen and (max-width: 576px){
    .popup-tickets__wrapper{
        position: absolute;
        top: 0;
    }
    .popup-cities__address {
        margin-left: 0;
    }
    .popup-cities__address {
        width: 100px;
        height: 100px;
    }
    .scheme__header {
        flex-direction: column;
    }
    .scheme-ticket {
        margin: 0 0 10px 0;
    }
    .scheme__body::before {
        margin: 50px auto 70px;
    }
    .popup-content {
        padding: 20px;
    }
    .popup__header-subtitle span {
        margin: 0 5px 2px 0;
        font-size: 0.8rem;
    }
    .popup__town-toggler .popup__town {
        font-size: 0.9rem;
    }
    .popup__town-toggler svg {
        margin-right: 5px;
    }
    .popup__close {
        top: 23px;
        right: 14px;
    }
    .header__arrow-without-bottom {
        margin-left: 0;
    }
    .film__sessions-info {
        width: 70px;
    }
    .session-time {
        font-size: 0.85rem;
    }
    .session-price {
        font-size: .65rem;
    }
    .popup-content .tickets__btn {
        font-size: 0.8rem;
        padding: 10px;
    }
    .popup-content .tickets__result {
        font-size: 0.8rem;
    }
}