.hall {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
select {
    padding: 3px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.inpt {
    padding: 2px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.span-btn {
    padding: 4px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
    border-radius: 3px;
}
.span-btn:hover {
    cursor: pointer;
}
.rows.example {
    display: none;
}
.rows {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.rows-edit-menu {
    margin-bottom: 10px;
}
.price-edit-menu {
    margin-bottom: 10px;
}
.number_rows, .number_places {
    max-width: 4rem;
}
.row_number {
    position: absolute;
    left: -45px;
    font-size: 14px;
    line-height: 2;
    color: RGBA(0, 0, 0, .4);
}
.places-edit-menu {
    margin-top: 3px;
}
.price-edit-menu > * {
    max-width: 130px;
    margin-bottom: 5px;
}
.places-wrapper {
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.places {
    background: #0b93d5;
}
span.places {
    border: unset;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 8px;
    color: white;
}
.place-price {
    border: unset;
    max-width: 32px;
    text-align: center;
    color: RGBA(0, 0, 0, .4);
}