.main-film {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1320px;
}
.film__poster {
    margin-right: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 300px;
    min-height: 406px;
    border-radius: 8px;
    background: center center/cover no-repeat;
}
.film__trailer-preview {
    padding-bottom: 53.58%;
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background: no-repeat;
    background-size: 100%;
}
.film__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.film__play-svg {
    margin-left: 9px;
    width: 60px;
}
.max-height-on {
    max-height: 525px;
    min-height: 430px;
}
.film {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.film__top-left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.film__left-content {
    margin-bottom: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.film__label {
    margin-bottom: .3rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.film__title {
    margin-top: 6px;
    min-height: 4rem;
    font-size: 2rem;
}
.film__trailer {
    margin-right: 20px;
    padding: 0 1.5rem 0 1.5rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50px;
    background: #30a6f1;
}
.film__age-rating {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid rgba(225, 225, 225, .7);
    border-radius: 100%;
}
.film__genre, .film__country, .film__duration {
    margin-right: 25px;
    font-family: "Roboto Light", sans-serif;
    font-size: .9rem;
}
.film__left-content > .film__title {
    font-weight: 600;
    min-height: 0;
}
.film__trailer {
    padding: 0 1.5rem 0 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 3rem;
    line-height: 3rem;
    font-family: "Proxima Nova Light", sans-serif;
    font-size: 13px;
    border-radius: 50px;
    background: #30a6f1;
    color: white;
}
.film__trailer-title {
    font-family: "Proxima Nova", sans-serif;
    font-size: 1rem;
}
.film__trailer-svg {
    margin-left: 15px;
    width: 10px;
    height: 10px;
}
.film__trailer:hover, .film__trailer-svg:hover {
    cursor: pointer;
}
.film__description {
    margin-bottom: 55px;
    font-size: 1rem;
    font-family: "Roboto Light", sans-serif;
    font-weight: 300;
    line-height: 1.5;
}
.film__day-name {
    margin-bottom: 1rem;
    display: inline-block;
    font-weight: 300;
    color: rgba(255,255,255,.5);
}
.partially-hidden-content .flex-wrapper:nth-child(n+8) {
    opacity: 0.15;
    z-index: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.film .flex-wrapper {
    margin-bottom: 1.5rem;
}
.film__sessions-info {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80px;
    height: 55px;
    border-radius: 8px;
    background: #e41a69;
}
.film__session-time {
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: 100;
}
.film__session-price {
    font-size: .75rem;
    font-weight: 100;
    opacity: .7;
}
.film__upcoming-sessions {
    margin-bottom: 18px;
    font-size: 1.5rem;
    font-weight: 100;
}
.film__show-all-sessions-btn {
    position: absolute;
    bottom: 0;
    background: #fff;
    color: #30a6f1;
    font-family: "Proxima Nova Light", sans-serif;
    font-size: .95rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 50px;
}
.film__show-all-sessions-btn:hover {
    cursor: pointer;
}
.additionally-film {
    margin-top: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    background: white;
    overflow: hidden;
}
.additionally-film > .container {
    padding: 55px 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1320px;
}
.film-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 25%;
    z-index: 2;
}
.film-description-mobile {
    display: none;
}
.film-about > h3 {
    margin-bottom: 1rem;
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.film-about > p {
    margin-bottom: 2.5rem;
    font-family: "Roboto Light", sans-serif;
    color: rgb(35, 41, 52);
}
.film-about__description {display: none;}
.film-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 75%;
}
.film-gallery:before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: 100%;
    width: calc(100vw + 100%);
    background: #fff;
    z-index: 1;
}
.film-gallery__top-content {
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.film-gallery__film-frames {
    font-size: 2rem;
    color: black;
}
.film-gallery__btn {
    margin: 0 5px 0 5px;
    height: 32px;
    width: 32px;
}
.film-gallery__btn > svg {
    display: block;
    fill: #30a6f1;
    width: 20px;
    height: 23px;
    margin: 0 6px;
    transform: scale(1.5);
}
.film-gallery__btn:hover {
    cursor: pointer;
}
.film-gallery__btn.--next { -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }
.btn-disabled {
    pointer-events: none;
    opacity: .1;
}
.film-gallery__bottom-content {
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    width: 100%;
}
.film-gallery__bottom-content:before{
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: 100%;
    width: calc(100vw + 100%);
    background: #fff;
    z-index: 1;
}
.film-gallery__bottom-content .owl-nav{
    position: absolute;
    top: -87px;
    right: 0;
}
.film-gallery__bottom-content .film-gallery__btn.disabled{
    display: unset;
}
.film-gallery__bottom-content .film-gallery__btn.disabled svg{
    fill: #ccc;
}
.film-gallery__bottom-content.owl-carousel .owl-stage-outer {
    overflow: visible;
}
.film-gallery__item{
    display: flex;
    width: 100%;
    justify-content: left;
}
.film-gallery__big-image {
    min-width: 66%;
    height: 300px;
    border-radius: 8px;
    background: center center no-repeat;
    background-size: cover;
}
.film-gallery__bottom-content .wrap {
    margin: 0 10px 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.wrap .film-gallery__middle-image {
    width: 100%;
}
.film-gallery__middle-image {
    margin: 0 5px 0 5px;
    min-width: 33%;
    height: 145px;
    border-radius: 8px;
    background: center center no-repeat;
    background-size: cover;
}
.film-gallery__middle-image:hover, .film-gallery__big-image:hover {
    cursor: pointer;
}
button.film-gallery__arrow {
    cursor: pointer;
    display: block;
    width: 95px;
    height: 95px;
    opacity: .5;
    -webkit-filter: drop-shadow(0 0 5px #30a6f1);
    filter: drop-shadow(0 0 5px #30a6f1);
    -webkit-transition: opacity .2s ease-out 0s;
    -o-transition: opacity .2s ease-out 0s;
    transition: opacity .2s ease-out 0s;
    will-change: opacity;
}
button.film-gallery__arrow--right{
    right: -130px;
}
button.film-gallery__arrow--left{
    left: -130px;
}
button.film-gallery__arrow:hover:before {
    opacity: 1;
}
button.film-gallery__arrow:before {
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #fff ;
    border-radius: 100px;
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0 0 5px #30a6f1);
    filter: drop-shadow(0 0 5px #30a6f1);
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background: url('/img/static/icons/i-play-right--white.svg') 20px center no-repeat;
    background-size: 14px auto;
    margin: 20px;
}
button.film-gallery__arrow:after{
    border: none;
    margin: 0;
}
button.film-gallery__arrow--left:before{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.footer {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.sl-overlay {
    background: rgb(0,28,45);
    opacity: .99;
}
.baguetteBox-button#next-button, .baguetteBox-button#previous-button {
    display: block;
    width: 55px;
    height: 55px;
    margin: 19px 9px;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 100px;
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-filter: drop-shadow(0 0 5px #30a6f1);
    filter: drop-shadow(0 0 5px #30a6f1);
    background: rgba(0,28,45,.99);
    -webkit-transition: 0.3s ease opacity;
    -o-transition: 0.3s ease opacity;
    transition: 0.3s ease opacity;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.baguetteBox-button#next-button:hover, .baguetteBox-button#previous-button:hover {
    opacity: 1;
}
.baguetteBox-button#next-button svg, .baguetteBox-button#previous-button svg{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0 0 5px #30a6f1);
    filter: drop-shadow(0 0 5px #30a6f1);
    fill: #fff;
}
.baguetteBox-button#next-button svg{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.baguetteBox-button#close-button{
    display: none;
}

@media (max-width: 1320px) {
    .max-height-on {
        max-height: none;
    }
    .main-film {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .main-film, .additionally-film > .container {
        width: 96%;
    }
    .film__poster {
        display: none;
    }
    .film__trailer-preview {
        margin-bottom: 2rem;
        display: block;
    }
    .film__top-left-content {
        margin-bottom: 2rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .film__genre, .film__country, .film__duration {
        margin-right: 25px;
        font-family: "Roboto Light", sans-serif;
        font-size: 2rem;
    }
    .film__title {
        font-size: 5rem;
    }
    .film__trailer {
        display: none;
    }
    .film__description {
        display: none;
    }
    .film__day-name {
        font-size: 2.5rem;
    }
    .film__sessions-info {
        height: auto;
        width: auto;
        padding: 1.75rem 2.5rem 1.75rem 2.5rem;
        margin-bottom: 2rem;
        border-radius: 25px;
    }
    .film__session-time, .film__session-price {
        margin: .25rem 0 .25rem 0;
        font-size: 2rem;
    }
    .partially-hidden-content {
        opacity: 1;
    }
    .film__show-all-sessions-btn {
        display: none;
    }
    .additionally-film > .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .film-about {
        width: auto;
    }
    .film-about > h3 {
        font-size: 1.4rem;
    }
    .film-about > p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.43;
        letter-spacing: 0;
    }
    .film-about__description, .film-description-mobile {
        display: inline-block;
    }
    .film-gallery__buttons {
        display: none;
    }
    .film-gallery {
        width: 100%;
        overflow-x: auto;
    }
    .film-gallery__film-frames {
        font-size: 4rem;
    }
}