.info-carousel.owl-carousel {
    margin-bottom: 105px;
}
.info-carousel .owl-item > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 825px;
    height: 394px;
    border-radius: 8px;
	overflow: hidden;
    transition: background-color 250ms ease-in-out;
    background: rgba(0,28,45,.6);
}
.info-carousel .owl-item.center > div {
    transition: background-color 250ms ease-in-out;
    background: rgba(0,28,45,0);
}
.info-carousel .owl-item:hover, .info-carousel .owl-item--duplicate:hover {
    cursor: grab;
}
.info-carousel .owl-nav {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}
.info-carousel > .owl-nav > .owl-prev, .info-carousel > .owl-nav > .owl-next {
    position: absolute;
    left: -437.5px;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transform: rotate(90deg);
    background: #fff !important;
    background-size: 8px auto !important;
    -webkit-box-shadow: 0 0 15px rgba(0,28,45,.25);
    box-shadow: 0 0 15px rgba(0,28,45,.25);
}
.info-carousel > .owl-nav > .owl-next {
    left: 387px;
    transform: rotate(-90deg);
}
.info-carousel > .owl-nav > .owl-next > svg, .info-carousel > .owl-nav > .owl-prev > svg {
    position: relative;
    top: -2px;
    width: 8px;
    height: 5px;
    fill: #30A6F1;
}
.info-carousel .owl__progress-bar {
    position: absolute;
    left: 42px;
    bottom: 2%;
    width: 742px;
    height: 4px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    z-index: -1;
}
.info-carousel .owl__progress-indicator {
    width: 0;
    height: 100%;
    background: #e41a69;
    border-radius: 5px;
    z-index: 1;
}
.info-carousel .owl-item__blurred-img {
	position: absolute;
	width: 825px;
	height: 100%;
	filter: blur(20px);
    background-color: RGBA(0,28,45,.1);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
	z-index: -2;
}
.info-carousel .owl-item__film-poster {
    position: relative;
    width: 190px;
    height: 284px;
    border-radius: 8px;
    background: no-repeat;
    background-size: 100%;
    z-index: -1;
}
.info-carousel .owl-item.center > div > .owl-item__film-poster { z-index: 1; }


.film {
    margin: 0 0 1rem 5%;
    max-width: 500px;
    min-width: 500px;
}
.info-carousel .owl-item > .film, .owl-item--duplicate > .film {
    z-index: -1;
}
.film__title {
	margin-top: 6px;
    min-height: 4rem;
	font-size: 2rem;
}
.film__title:hover {
    transition: .3s ease;
    text-shadow: 0 0 10px #30a6f1;
}
.film__short-info {
	margin: 20px 0 15px;
    display: flex;
}
.film__trailer {
    margin-right: 20px;
    padding: 0 1.5rem 0 1.5rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50px;
    background: #30a6f1;
}
.film__age-rating {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border: 2px solid rgba(225, 225, 225, .7);
    border-radius: 100%;
}
.film__sessions-info {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 55px;
    border-radius: 8px;
    background: #e41a69;
}
.film__session-time {
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: 100;
}
.film__session-price {
    font-size: .75rem;
    font-weight: 100;
    opacity: .7;
}
.film__upcoming-sessions {
	font-size: 1.5rem;
	font-weight: 100;
	margin-bottom: 18px;
}


.session-schedule {
    display: flex;
    position: relative;
    width: 1320px;
    flex-direction: column;
}
.session-schedule__title {
    width: 100%;
    padding-bottom:50px;
    font-size: 2rem;
}

.session-schedule > .wrapper {
    margin-bottom: 35px;
}
.day-list__btn {
    position: absolute;
    top: calc(50% - 17px);
    left: -70px;
    height: 34px;
    width: 30px;
}
.day-list__btn.--next {
    left: 1280px;
    transform: rotate(-180deg);
}
.day-list__btn:hover {
    cursor: pointer;
}
.day-list__svg--left, .day-list__svg--right {
    fill: #30a6f1;
    width: 100%;
    height: 100%;
}
.day-list-wrapper {
    width: 1200px;
    overflow: hidden;
}
.day-list {
    padding-bottom: 10px;
    display: flex;
    position: relative;
}
.day-list-error {
    display: inline-block;
    margin: 35px 0;
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.day {
    margin-right: 5px;
    padding: 18px 20px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    text-align: left;
    white-space: nowrap;
    cursor: pointer;
}
.day:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #fff;
    top: 100%;
    opacity: 0;
}
.day__week {
    position: relative;
    display: inline-block;
    padding: 0 0 2px;
    border-bottom: 1px dashed #30a6f1;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1;
    color: #30a6f1;
}
.day__date {
    display: block;
    margin: 5px 0 0;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
}
.day--active {
    background: #fff;
}
.day--active:after {
    opacity: 1;
}
.day--active .day__week {
    color: #001c2d;
    border-color: transparent;
}
.day--active .day__date {
    color: #001c2d;
}
.day--disabled {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}
.days__etc {
    margin: 0 1rem 0 1rem;
    font-size: 2.5rem;
}

.films {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.films-item {
    margin-bottom: 60px;
    display: flex;
}
.films-item > .wrapper {
    position: relative;
    width: 165px;
    height: 244px;
    z-index: 0;
}
.film__poster {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    background: no-repeat;
    background-size: 100%;
}
.film__trailer-preview {
    padding-bottom: 53.58%;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    background: no-repeat;
    background-size: 100%;
}
.film__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.film__play-svg {
    margin-left: 3px;
    width: 25%;
    height: 25%;
    fill: white;
}
.film__play:after {
    content: 'Смотреть трейлер';
    position: absolute;
    top: 60px;
    display: none;
    width: 10rem;
    text-align: center;
    font-size: .9rem;
}
.film__play:hover:after {
    display: inline-block;
    transition: all 300ms ease-in-out;
    text-shadow: 0 0 10px #30a6f1;
}
.film__play:hover, .film__play:hover > .film__play-svg {
    cursor: pointer;
    transition: all 200ms ease-in-out;
    filter: drop-shadow(0 0 4px #30a6f1);
}
.film__poster:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001c2d;
    opacity: 0;
}
.film__play:hover ~ .film__poster:after {
    opacity: .6;
}
.film__play-svg:hover {
    cursor: pointer;
}
.films-item > .film {
    margin-left: 55px;
}
.top-left-content {
    display: flex;
    width: 100%;
}
.film__label {
    margin-bottom: .3rem;
    display: inline-flex;
}
.film__genre, .film__country, .film__duration {
    margin-right: 25px;
    font-family: "Roboto Light", sans-serif;
    font-size: .9rem;
}
.left-content {
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
}
.left-content > .film__title {
    font-weight: 600;
    min-height: 0;
}
.film__like {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    text-align: center;
    border: 2px solid rgba(225, 225, 225, .7);
    border-radius: 100%;
}
.film__sessions-time {
    margin-right: 20px;
}

/* Section soon */

.session-soon {
    width: 100%;
    background: #fff;
    padding: 100px 0 0;
    z-index: 1;
}
.session-soon > .container{
    max-width: 1315px;
    padding: 0px 15px;
    margin: 0 auto;
}
.session-soon__title {
    width: 100%;
    padding-bottom: 50px;
    font-size: 2rem;
    color: #000;
}
.posters {
    position: relative;
    overflow: hidden;
    margin-top: -20px;
    margin-bottom: -20px;
    padding: 20px 0;
}
.posters--collapse {
    height: 559px;
}
.posters--collapse .poster:nth-child(n+5) {
    opacity: .15;
    z-index: 0;
    transition: opacity .2s ease-out;
}
.posters--open {
    height: auto;
    padding-bottom: 20px;
}
.posters--open .poster:nth-child(n+0) {
    opacity: 1;
    z-index: auto;
}
.posters__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.poster {
    width: 100%;
    flex: 0 0 20%;
    margin: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    background: #001c2d center center no-repeat;
    background-size: cover;
    transition: box-shadow .3s ease-out;
    box-shadow: 0 0 20px rgba(0,28,45,.05);
    overflow: hidden;
}
.poster__link:before {
    content: '';
    padding: 147% 0 0;
    display: block;
}
.poster__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: linear-gradient(to top,#001c2d 0,#001c2d 19%,rgba(0,28,45,.0001) 53%,rgba(0,28,45,.0001) 100%);
    opacity: 0;
    transition: .25s ease-out;
}
.poster__content>div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 25px 25px;
    color: #fff;
    transition: .25s ease-out;
}
.poster:hover .poster__content {
    transform: none;
    opacity: 1;
}
.poster__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.125;
}
.poster__txt {
    font-size: 1.2rem;
    line-height: 1.34;
    letter-spacing: .05em;
}
.poster__age {
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #30a6f1;
    font-size: 1.2rem;
    box-shadow: 0 0 15px rgba(0,28,45,.25);
    padding: 9px 0 0 5px;
}
.poster__date {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 40px;
    box-shadow: 0 0 15px rgba(0,28,45,.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #fff;
    color: #30a6f1;
    z-index: 1;
}
.posters__btn {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;    
    margin: 45px 0 65px;
    z-index: 1;
}
.posters__toggler {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e41a69;
    border-radius: 50px;
    background: #e41a69;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    fill: #fff;
    color: #fff;
    padding: 16px 23px 14px;
}
.poster.posters__item:nth-child(4n+1) {
    margin-left: 0;
}
.poster.posters__item:nth-child(4n) {
    margin-right: 0;
}
.posters__toggler--hide {
    display: none;
}


@media (max-width: 1320px) {
    .footer { min-height: 0; }
    .footer > .container { width: 95%; }
    .footer__title, .info-carousel, .film__like, .session-soon, .day-list__btn { display: none; }
    .session-schedule {
        width: 95%;
        min-height: 80vh;
        overflow: hidden;
    }
    .day-list-wrapper {
        height: 100%;
        width: 90%;
        overflow-x: auto;
    }
    .day__week {
        padding: 1rem;
        font-size: 3rem;
    }
    .day__date {
        padding: 0 1rem 1rem 1rem;
        font-size: 2rem;
    }
    .session-schedule__title {
        padding: 2rem;
        text-align: center;
    }
    .films-item {
        flex-direction: column;
    }
    .films-item > .wrapper {
        width: 100%;
        height: 100%;
    }
    .film__play {
        width: 100px;
        height: 100px;
    }
    .film__play:after {
        margin-top: 60px;
    }
    .film__trailer-preview:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #001c2d;
        opacity: 0;
    }
    .film__play:hover ~ .film__trailer-preview:after {
        opacity: .6;
    }
    .film__play-svg {
        margin-left: 12px;
        width: 40px;
    }
    .films-item > .film {
        margin: 2rem 0 0 0;
        width: 100%;
        max-width: none;
    }
    .film__poster { display: none; }
    .film__trailer-preview { display: flex; }
    .film__youtube-preview-img {
        width: 100%;
        height: auto;
    }
    .film__age-rating {
        width: 96px;
        height: 96px;
        font-size: 2rem;
        line-height: 96px;
    }
    .film__genre, .film__country, .film__duration {
        display: block;
        font-size: 2rem;
    }
    .film__title { font-size: 3rem; }
    .film > .flex-wrapper {
        overflow-x: auto;
    }
    .film__sessions-info {
        width: auto;
        height: auto;
        padding: 1rem;
    }
    .film__sessions-time {
        min-width: 200px;
        height: 100px;
    }
    .film__session-time {font-size: 2rem;}
    .film__session-price {font-size: 1.8rem;}
}
